@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
body{
    background-color: black;
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
}
.info{
    width: 800px;
    height: 700px;
    border-radius: 5px;
    display: flex;
    margin: 5% 30%;
    align-items: center;
}
 
.info_cont{
    width: 400px;
    height: 400px;
    padding-top: 90px;
    margin: 3%;
    font-family: 'SuSe';
    src: url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
}
  
h1{
    margin: 15px;
}
p{
    margin: 10px;
}
.cont{
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
    border-color: #29407c;
    border-style: solid;
    border-width: 1px;
}
.img{
    width: 350px;
    height: 380px;
    margin: 2%;
    border-radius: 15px;
    
} 
section{
    margin-top: 40px;
}